
/* MATERIEL  */

.tablink_materiel {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
}

/* Change background color of buttons on hover */
.tablink_materiel:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent_materiel {
    color: white;
    display: none;
    padding: 50px;
    text-align: left;
}


/* FOURNITURE */

.tablink_fourniture {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
}

/* Change background color of buttons on hover */
.tablink_fourniture:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent_fourniture {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}


/* MAIN D'OEUVRE  */


.tablink_main_doeuvre {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
}

/* Change background color of buttons on hover */
.tablink_main_doeuvre:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent_main_doeuvre {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}


/* LOT  */


.tablink_lot {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
}

/* Change background color of buttons on hover */
.tablink_lot:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent_lot {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}



 /* SOUS LOT */

.tablink_sous_lot {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 33%;
}

/* Change background color of buttons on hover */
.tablink_sous_lot:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent_sous_lot {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}


/* Concerne Les Tables Fourniture et MATERIEL  */

table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 15px;
	line-height: 24px;
	margin: 30px auto;
	text-align: center;
	width: auto;
	color : gray;

}

th {
    border : 1px solid white;
    color : black;
    font-size : 1.4em;
    font-weight: bold;
	padding: 10px 15px;
	text-align: center;
}

td {
	border : 1px solid white;
	padding: 10px 15px;
	line-height: auto;

}




.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}


/********************************************************/
/* THIS SECTION IS RELATED WITH LIST OF ALL THE CONTENT */
.btn_print{
	position:absolute;
	top:340px;
	padding:0.5%;
	height:35px;
	right:100px; width:200px; color:white; background:#555;
	padding: 5px 10px;
  border-radius: 5px; height:auto

}
.btn_print11{
	position:absolute;
	top:380px;
	padding:0.5%;
	height:35px;
	right:100px; width:200px; color:white; background:#555;
	padding: 5px 10px;
  border-radius: 5px; height:auto
}

h2 {text-align:center; color:black;}

.btn_ajout{
		   display:block; position:absolute; left:550px;  color:white; background:#555; text-align-last:center;
    text-align:center;
	width : 200px;
	padding: 5px 10px;
    border-radius: 5px; height:auto;
	}

.btn_modif {
  display:block;  position:absolute; left:550px;  background : #555; color:white;  width:200px; padding: 5px 10px;
  border-radius: 5px; height:auto
  }


.expandable-panel-content {
					height:0px;
					display:none;

				}

label {
	font-size:1.2em;
}

input,select {
	text-align-last:center;
	text-align:center;
	width : 200px;
	height:25px;
}


.Target {margin-left : 300px; text-align:left; width : 100%; }

/* Btn servant a retirer un element du tableau  */
.btn_remove{
	color: white;
	width : auto;
	background:#555;
	padding: 5px 10px;
    border-radius: 5px; height:auto
	}


.icon-close-open{
  background-color: #555;
  color:white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  height: auto;
  cursor:pointer;
}
