/* arabic */
@font-face {
  font-family: 'Cairo';
  src: url('./fonts/Cairo-Regular.ttf');
}

/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(./fonts/S6uyw4BMUTPHjxAwXjeu.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(./fonts/S6uyw4BMUTPHjx4wXg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media screen {
	body
	{
		overflow-y: scroll !important;
	}

	.uppercase
	{
		text-transform: uppercase !important;
	}

	hr.style1{
		border: 0 !important;
		border-top: 1px solid #8c8b8b !important;
	}
	hr.style2 {
		border: 0 !important;
		border-top: 3px double #8c8b8b !important;
	}
	hr.style3 {
		background-color: #fff !important;
		border: 0 !important;
		border-top: 2px dashed #8c8b8b !important;
	}
	hr.style4 {
		height: 6px !important;
	    border: 0 !important;
		background: url(../picture/hr-12.png) repeat-x 0 0 !important;
	}
	.del
	{
		text-decoration: line-through !important;
	}

	.ui.action.file.input > input { display: none; }
	.ui.action.file.input:not([class*="left action"]) > label { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; border-right-color: transparent !important; }
	.ui.action.file.input > label:first-child { cursor: pointer; width: auto; -webkit-box-flex: 1; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; outline: 0; -webkit-tap-highlight-color: rgba(255,255,255,0); padding: .67861429em 1em; background: #FFF; border: 1px solid rgba(34,36,38,.15); color: rgba(0,0,0,.87); border-radius: .28571429rem; -webkit-transition: box-shadow .1s ease,border-color .1s ease; transition: box-shadow .1s ease,border-color .1s ease; box-shadow: none; }
	.ui.action.file.input > label:last-child { border-radius: 0 .28571429rem .28571429rem 0 !important; }


	.animate-show-hide.ng-hide {
		opacity: 0;
	}

	.animate-show-hide.ng-hide-add,
	.animate-show-hide.ng-hide-remove {
	 	transition: all linear 0.5s;
	}

	.print_only {
		display:none !important;
	}

	.red_border{
		border-bottom: solid 3px #f00 !important;
	}

	.red_bottom_separate{
		border-bottom: solid 1px #f00 !important;
	}

	.red_bg{
		background-color: #ff00001f;
	}
	.yellow_bg{
		background-color: #fd0;
	}
	.under_line{
		border-bottom: 2px #000 solid;
	}

	.keepalive{
		position: absolute;
		height: 12px;
		width: 12px;
		border: 2px solid #fff;
		z-index: 2;
		border-radius: 100%;
		background-color: #bbb;
	}
	.keepalive.on{
		background-color: #0F0;
	}

	.disable{
		color:lightgrey;
	}
	.tomato{
		color:tomato;
	}
	.red{
		color:red;
	}
	.green{
		color:green;
	}
	.green_led{
		position: fixed;
		height: 12px;
		width: 12px;
		border: 2px solid #fff;
		z-index: 2;
		border-radius: 100%;
		background-color: #0f0;
	}
	
	.green_border{
		border: 2px solid rgb(59, 206, 59);
	}
	.green_left_border{
		border-left: 3px solid #0f0;
	}
	.green_right_border{
		border-right: 3px solid #0f0;
	}
	.green_top_border{
		border-top: 3px solid #0f0;
	}
	.green_bottom_border{
		border-bottom: 3px solid #0f0;
	}
	.bg_green{
		background-color: rgba(0, 255, 0, 0.03)
	}
	.bg_white{
		background-color: rgba(255, 255, 255, 0.5)
	}

	.blue{
		color:blue;
	}
	.orange{
		color:orange;
	}
	.yellow{
		color:yellow;
	}
	.yellowgreen{
		color:yellowgreen;
	}
	.black{
		color:black;
	}
	.lightgrey{
		color:lightgrey;
	}
	.darkgrey{
		color:darkgrey;
	}
	.bold{
		font-weight: bold;
		font-size: 1.1em;
	}

	.focus_border:focus{
		outline-color: red;
	}
	

}
@media print {

	html {
	  height: 100% !important;
	  box-sizing: border-box !important;
	}
	body{
		background: none !important;
	}
	*,
	*:before,
	*:after {
	  box-sizing: inherit !important;
	}

	.print_ignore {
		display: none !important;
	}

	.ui.segment {
		margin: 0;
	}
	.ui.basic.segment {
		background: none;
	}

	.ui.piled.segment {
		content: none;
		border: 0 !important;
		box-shadow: none;
		margin: 0;
	}
	.ui.piled.segment:after, .ui.piled.segment:before, .ui.piled.segments:after, .ui.piled.segments:before{
		content: none;
		border: 0 !important;
	}

	table, .no_break{
		page-break-inside: avoid;
	}

	.do_break{
		page-break-before: always;
	}




	.HEADERPAGE {
		border-bottom: solid 2px #000;
		background-color: #fff;
		position: fixed;
		right: 0;
		top: 0;
		left: 0;
		padding: .2em;
		text-align: left;
		font-family: Cairo, sans-serif;
		z-index: 99999999;
	}
	.HEADERPAGE img {
		float: right;
		height: 70px;
	}
	.HEADERPAGE p {
		font-size: .9em;
		width:50%;
	}

	.FOOTERPAGE {
		border-top:solid 2px #000; 
		background-color: #fff;
		position: fixed;
		right: 0;
		bottom: 0;
		left: 0;
		padding: .2em;
		text-align: center;
		z-index: 99999999;
	}
	.FOOTERPAGE img {
		float: right;
		height: 70px;
	}
	.FOOTERPAGE p {
		font-size: .8em;
	}
	.PRINTZONE {
		position: absolute;
		margin: 110px;
	}

	.under_line{
		border-bottom: 2px #000 solid;
	}

}

.pre_wrap pre{
    white-space: pre-wrap !important;       /* css-3 */
    white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
    white-space: -pre-wrap !important;      /* Opera 4-6 */
    white-space: -o-pre-wrap !important;    /* Opera 7 */
    word-wrap: break-word !important;       /* Internet Explorer 5.5+ */
}
.pre_wrap img{
    max-width: -webkit-fill-available  !important;
}
