    
.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 20%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}


input,select {
	text-align-last:center;
    text-align:center;
	width : 200px;
	height:25px;
	margin-left : 10px;
}


input[type=radio] {
	width : 20px;
	position : relative;
	top:7px;
	margin: 20px;
}

 h2{
	 color : black;
	 
 }

 .btn_ok{
	 color: white;
	width : 100px;
	background:#555;
 }
 
 
 
 
 
