label {font-size:1.2em;}
select {  width :200px ; display:inline-block; height:25px; text-align-last:center; }
.btn_modif { color:white; position:absolute; text-align:center; right:40%;  width : 15%; display:inline-block; background : #555;}
.btn_ajout {display:block; position:absolute; left:40%; width:20%; color:white; background:#555; }


.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
}

/* Change background color of buttons on hover */
.tablink:hover {
    background-color: #777;
}

/* Set default styles for tab content */
.tabcontent {
    color: white;
    display: none;
    padding: 50px;
    text-align: center;
}


 h2 {text-align:center; color:black;}
	   input {  height: 25px;  }
	   
	   
	   
table {
	background: #f5f5f5;
	border-collapse: separate;
	box-shadow: inset 0 1px 0 #fff;
	font-size: 15px;
	line-height: 24px;
	margin: 30px auto;
	text-align: center;
	width: 700px;
	color : gray;
}	

th {
    border : 1px solid white;
    color : black;
    font-size : 1.4em;
    font-weight: bold;
	padding: 10px 15px;
	text-align: center;
}

td {
	border : 1px solid white;
	padding: 10px 15px;
		line-height: 10px;	

}


.btn_add{
	color: white;
	width : 5%;
	background:#555;
	right : 100px;
	position:absolute;
}

 .btn_ajout_element{
	 color: white;
	width : auto;
	background:#555;
 }
 
 .btn_remove{
	color: white;
	width : auto;
	background:#555;
	}