/* arabic */
@font-face {
  font-family: 'Cairo';
  src: url('./fonts/Cairo-Regular.ttf');
}

@media screen {
	body
	{
	  overflow-y: scroll !important;
	}

	.uppercase
	{
	  text-transform: uppercase !important;
	}

	hr.style1{
		border: 0 !important;
		border-top: 1px solid #8c8b8b !important;
	}
	hr.style2 {
		border: 0 !important;
		border-top: 3px double #8c8b8b !important;
	}
	hr.style3 {
		background-color: #fff !important;
		border: 0 !important;
		border-top: 2px dashed #8c8b8b !important;
	}
	hr.style4 {
		height: 6px !important;
	    border: 0 !important;
		background: url(../picture/hr-12.png) repeat-x 0 0 !important;
	}
	.del
	{
		text-decoration: line-through !important;
	}

	.ui.action.file.input > input { display: none; }
	.ui.action.file.input:not([class*="left action"]) > label { border-top-right-radius: 0 !important; border-bottom-right-radius: 0 !important; border-right-color: transparent !important; }
	.ui.action.file.input > label:first-child { cursor: pointer; width: auto; -webkit-box-flex: 1; -webkit-flex: 1 0 auto; -ms-flex: 1 0 auto; flex: 1 0 auto; outline: 0; -webkit-tap-highlight-color: rgba(255,255,255,0); padding: .67861429em 1em; background: #FFF; border: 1px solid rgba(34,36,38,.15); color: rgba(0,0,0,.87); border-radius: .28571429rem; -webkit-transition: box-shadow .1s ease,border-color .1s ease; transition: box-shadow .1s ease,border-color .1s ease; box-shadow: none; }
	.ui.action.file.input > label:last-child { border-radius: 0 .28571429rem .28571429rem 0 !important; }


	.animate-show-hide.ng-hide {
	  opacity: 0;
	}

	.animate-show-hide.ng-hide-add,
	.animate-show-hide.ng-hide-remove {
	  transition: all linear 0.5s;
	}

	.print_only {
		display:none !important;
	}
}
@media print {

	html {
	  height: 100% !important;
	  box-sizing: border-box !important;
	}

	*,
	*:before,
	*:after {
	  box-sizing: inherit !important;
	}

	.print_ignore {
		display: none !important;
	}

	.ui.segment {
		margin: 0;
	}
	.ui.basic.segment {
		background: none;
	}

	.ui.piled.segment {
		content: none;
		border: 0 !important;
		box-shadow: none;
		margin: 0;
	}
	.ui.piled.segment:after, .ui.piled.segment:before, .ui.piled.segments:after, .ui.piled.segments:before{
		content: none;
		border: 0 !important;
	}

	.do_break{
		page-break-before: always;
	}

	.HEADERPAGE {
		border-bottom: solid 2px #000;
		background-color: #fff;
		width: 100%;
		padding: .2em;
		text-align: left;
		font-family: Cairo, sans-serif;
		z-index: 99999999;
	}
	.HEADERPAGE img {
		float: right;
		height: 70px;
	}
	.HEADERPAGE p {
		font-size: .9em;
		width:50%;
	}

	.FOOTERPAGE {
		border-top:solid 2px #000; 
		background-color: #fff;
		width: 100%;
		padding: .2em;
		text-align: center;
		z-index: 99999999;
	}
	.FOOTERPAGE img {
		float: right;
		height: 70px;
	}
	.FOOTERPAGE p {
		font-size: .8em;
	}
	.PRINTZONE {
		position: absolute;
		margin: 110px;
	}

}
