* {
  box-sizing: border-box;
}

*:focus {
	outline: none;
}
body {
  font-family: Arial;
  background-color: #dcdcdc;
  padding: 50px;
  background: #000000 url(../picture/ecommerce.jpg);
}

h2{
  color:black;
}

input {
  text-align: center;
  background-color: #ECF0F1;
  border: 2px solid #bbb; /*  transparent; */
  border-radius: 3px;
  font-size: 18px;
  font-weight: 200;
  padding: 5px 0;
  margin: 5px;
  width: 250px;
  transition: border .4s;
}

input:focus {
  border: 2px solid #3498DB;
  box-shadow: none;
}

label {
  color: #555;
  font-size:1.3em;
}

span {
  margin-right : 50px;
}

.btn {
  border: 2px solid transparent;
  background: #000000;
  color: #ffffff;
  font-size: 16px;
  line-height: 25px;
  padding: 10px 0;
  text-decoration: none;
  text-shadow: none;
  border-radius: 3px;
  box-shadow: none;
  transition: 0.25s;
  display: block;
  width: 250px;
  margin: 0 auto;
}

.btn:hover {
  background-color: #000000;
}

.login-link {
  font-size: 12px;
  color: #444;
  display: block;
	margin-top: 12px;
}

.login {
  margin: 20px auto;
  width: 300px;
}
.login-screen {
  background-color: #FFF;
  padding: 20px;
  border-radius: 5px
}

.app-title {
  text-align: center;
  color: #777;
}

.login-form {
  text-align: center;
}

.control-group {
  margin-bottom: 10px;
}

.entete {
  text-align:center;
  font-size:1.2em;
  font-text : bold;
  background-color : #DCDCDC;
  color:black;
  position:absolute;
  top : 77px;
  right : -8px;
}