<div class="ui basic form">
<div id="ESTIMATION_DES_REGARDS">
  <h1 class="ui dividing header">ESTIMATION DES REGARDS</h1>
  <div class="ui grid">
    <div class="six wide column">
      <img src="img/anim-regard.gif" height="450px">
    </div>
    <div class="ten wide column">
      <div class="ui mini form">
        <div class="field"> <label>Ratio acier</label> <input type="number" ng-model="est_reg.ratioAcier" step="any"> </div>

        <div class="three fields">
          <div class="field"> <label>Larg X</label> <input type="number" ng-model="est_reg.X" step="any"> </div>
          <div class="field"> <label>Long Y</label> <input type="number" ng-model="est_reg.Y" step="any"> </div>
          <div class="field"> <label>Hauteur H</label> <input type="number" ng-model="est_reg.H" step="any"> </div>
        </div>

        <div class="three fields">
          <div class="field"> <label>Ep. base</label> <input type="number" ng-model="est_reg.epB" step="any"> </div>
          <div class="field"> <label>Ep. voile</label> <input type="number" ng-model="est_reg.epV" step="any"> </div>
          <div class="field"> <label>Ep. tampon</label> <input type="number" ng-model="est_reg.epT" step="any"> </div>
        </div>

        <div class="three fields">

          <div class="field">
            <label>Prix beton {{est_reg.prB}} DA</label>
            <select ng-model="est_reg.prB">
              <option ng-repeat="x1 in tache_list | filter: {num_lot:'GVRD', num_slot:'BET'}" value="{{x1.deb_sec}}">{{x1.nom_tache}}</option>
            </select>
          </div>

          <div class="field">
            <label>Prix acier {{est_reg.prA | number:2 }} DA</label>
            <select ng-model="est_reg.prA">
              <option ng-repeat="x in tache_list | filter: {num_lot:'GVRD', num_slot:'AR'}" value="{{x.deb_sec}}">{{x.nom_tache}}</option>
            </select>
          </div>

          <div class="field">
            <label>Prix coffr {{est_reg.prC | number:2 }} DA</label>
            <select ng-model="est_reg.prC">
              <option ng-repeat="x in tache_list | filter: {num_lot:'GVRD', num_slot:'COF'}" value="{{x.deb_sec}}">{{x.nom_tache}}</option>
            </select>
          </div>

        </div>

        <table class="ui celled definition  table">
          <thead>
            <tr>
              <th></th>
              <th>Base</th>
              <th>Voiles</th>
              <th>Tampon</th>
              <th>Somme</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Betton en M³</td>
              <td>{{est_reg.base_betton = (1*est_reg.X + (2 * est_reg.epV)) * (1*est_reg.Y + (2 * est_reg.epV)) * est_reg.epB | number:3}}</td>
              <td>{{est_reg.voiles_betton = ((1*est_reg.X + (2*est_reg.epV))*2 + est_reg.Y*2) * est_reg.epV * est_reg.H | number:3}}</td>
              <td>{{est_reg.tampon_betton = (1*est_reg.X + 0.2) * (1*est_reg.Y + 0.2) * est_reg.epT | number:3}}</td>
              <td>{{est_reg.somme_betton = 1*est_reg.base_betton + 1*est_reg.voiles_betton + 1*est_reg.tampon_betton | number:3}}</td>
            </tr>
            <tr>
              <td>Coffrage en M²</td>
              <td>{{est_reg.base_coffr = est_reg.epB * ( 1*est_reg.X + 1*est_reg.Y + (4 * est_reg.epV) + 0.4) * 2 | number:2}}</td>
              <td>{{est_reg.voiles_coffr = 2 * est_reg.H * ((1*est_reg.X + 1*est_reg.Y) + ( 1*est_reg.X + 1*est_reg.Y + 4*est_reg.epV ) ) | number:2}}</td>
              <td>{{est_reg.tampon_coffr = (1*est_reg.X + 1*est_reg.Y + 0.4) * 2 * est_reg.epT | number:2}}</td>
              <td>{{est_reg.somme_coffr = 1*est_reg.base_coffr + 1*est_reg.voiles_coffr + 1*est_reg.tampon_coffr | number:2}}</td>
            </tr>
            <tr>
              <td>Acier en Kg</td>
              <td colspan="4">{{est_reg.somme_acier = est_reg.ratioAcier * est_reg.somme_betton | number:2}}</td>
            </tr>
          </tbody>
        </table>

        <div class="ui statistic">
          <div class="label">
            PRIX DU REGARD
          </div>
          <div class="value">
            &nbsp; {{est_reg.deb_sec = Math.ceil((est_reg.somme_betton * ( 1*est_reg.prB + (est_reg.prA * est_reg.somme_acier) ) + est_reg.somme_coffr * est_reg.prC)/100) * 100 | number:2}}
          </div>
        </div>
        <div class="ui right aligned container print_ignore">
          <!--div class="ui icon button red" ng-click="dbg()" data-tooltip="Debug"><i class='bug icon'></i></div-->
          <div class="ui icon button" ng-click="copy('ESTIMATION DES REGARDS')" data-tooltip="Copy" ng-show="!rOnly"><i class='copy icon'></i></div>
          <div class="ui icon button" ng-click="paste('ESTIMATION DES REGARDS')" data-tooltip="Coller" ng-show="!rOnly"><i class='paste icon'></i></div>
          <div class="ui icon button" ng-click="printElement('#ESTIMATION_DES_REGARDS')" data-tooltip="Imprimer" ng-show="!rOnly"><i class='print icon'></i> Imprimer</div>
          <div class="ui icon button" ng-click="exportToPrint('#ESTIMATION_DES_REGARDS',1)" data-tooltip="Imprimer" ng-show="rOnly"><i class='print icon'></i> Imprimer</div>
          <div class="ui positive button" ng-click="set_cas_niveau()" ng-show="!rOnly"><i class='check icon'></i> Appliquer</div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
